body {
    font-family: Helvetica, Arial, sans-serif;
}

button {
    background-color: lightblue;
    border-radius: 1em;
    border: 2px double darkcyan;
    margin: 4px;
}

th {
    background-color: darkcyan;
    color: white;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.block {
    border: 2px double lightblue;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    margin-bottom: 2em;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 2px double lightblue;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.error {
    color: red;
}

.currentPhase {
    background-color: lightblue;
}

.shotBreakdown {
    color: grey;
}