body {
    background: #ebebeb;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: lightgrey;
    border-radius: 4px;
    border: 2px solid lightslategrey;
    margin-right: 0.5em;
}

input, select {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

th {
    background-color: steelblue;
    color: white;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.block {
    background: white;
    border: 2px solid lightgrey;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    margin-bottom: 2em;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 2px solid lightgrey;
    padding: 0.5em;
}

.error {
    color: red;
}

.header {
    background: white;
    border-bottom: 2px solid lightgrey;
    width: 100%;
    margin: 0;
    padding: 0.5em;
}

.currentPhase {
    background-color: lightblue;
}

.shotBreakdown {
    color: grey;
    font-style: italic;
    padding-right: 1em;
}